<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Andres David Soto Duque</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">Andres David Soto Duque</h1>
      <p class="text">FULLSTACK DEVELOPER</p>

      <p class="text">
        Tecnólogo Desarrollador Fullstack, con experiencia en
        <strong>PHP, JavaScript, TypeScript, Python, Java y Node.js</strong>
        además de tener conocimientos frameworks como
        <strong>React-Native, React-Vite, Angular y Laravel.</strong>
        Experiencia en administración de bases de datos relacionales como
        <strong>MySQL y Turso</strong> y no relacionales como
        <strong>MongoDB.</strong> He trabajado con la metodología de desarrollo
        ágil <strong>Scrum</strong> con apoyo de herramientas para gestión de
        proyectos como <strong>Jira</strong> y <strong>Trello</strong> y tengo
        experiencia en el uso de herramientas para control de versiones como
        <strong>Git</strong> y <strong>GitHub.</strong>
      </p>
    </div>
  </body>

  <script src="../js/script.js"></script>
</html>
