<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <h1 class="title">Projects</h1>
    <div class="projectsContainer">
      <div class="project">
        <h2 class="nameProject">Sistema para Sala de Cine</h2>
        <p class="text">
          Sistema gestor de reservas para sala de cine. Hecho en Python
        </p>
      </div>
      <div class="project">
        <h2 class="nameProject">Sistema para gestión de obras</h2>
        <p class="text">
          Sistema para la Gestión de Obras de Construcción. Hecho en angular y
          node.js
        </p>
      </div>
      <div class="project">
        <h2 class="nameProject">SkateShop</h2>
        <p class="text">Tienda de skate hecha en React-Vite y Node.js</p>
      </div>
    </div>
  </body>
  <script src="../js/script.js"></script>
</html>
